<h2>Create a new drone</h2>
<p>name:</p>
    <input type="text" name="name" id="name">
    <p>propellers</p>
    <input type="number" name="propellers" id="propellers">
    <p>maxSpeed</p>
    <input type="number" name="maxSpeed" id="maxSpeed">
    <br>
    <button id="create-btn">New Drone</button>